{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "plugins": ["import"],
  "rules": {
    "no-console": "off",
    "max-classes-per-file": "off",
    "import/prefer-default-export": "off",
    "no-nested-ternary": "off",
    "no-prototype-builtins": "off",
    "no-unused-expressions": [
      "error",
      {
        "allowShortCircuit": true
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    },
    "import/core-modules": ["utils"]
  }
}
